<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/style.css">
		<title>LifeText Login</title>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="static/login.js"></script>

		<div class="wrapper">
			<div class="container">
				<h1>Welcome</h1>

				<form class="form">
					<input type="text" placeholder="Username">
					<input type="password" placeholder="Password">
					<button type="submit" id="login-button">Login</button> <br/>
					<button type="submit" id="sign-up-button">Sign Up</button>
					<input type="text"
						   id="error"
						   style= "visibility:hidden;
						   margin-top: 10px;
    					   color: rgba(185, 59, 59, 0.82);
    					   background-color: rgba(255, 80, 80, 0.2);
    					   border-color: rgba(255, 0, 0, 0.19);"
						   disabled>
				</form>
			</div>

			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</body>
</html>
